.Block{
    border: 1px solid grey;
    width: 70px;
    height: 70px;
    background-color: #D3D3D3;
}

.Block:hover{
    background-color: #C0C0C0;
}

.BlockActive {
    background-color: lightseagreen;
}

.BlockActive:hover{
    background-color: lightseagreen;
}